[submodule "digitaltwin-frontend"]
	path = digitaltwin-frontend
	url = https://github.com/TheKoren/digitaltwin-frontend.git
[submodule "digitaltwin-backend"]
	path = digitaltwin-backend
	url = https://github.com/TheKoren/digitaltwin-backend.git
[submodule "digitaltwin-firmware"]
	path = digitaltwin-firmware
	url = https://github.com/TheKoren/digitaltwin-firmware.git
